<body>

<img class="img2" src="../assets/1-2-3.JPG">
<img class="img1" src="../assets/mensuel.JPG">
<br>

<div class="zoneTx">
<p class="tx1">Type de numéro :</p>
<br><br>
<p class="tx2">Numéro Argent : 01 87 200 200</p>
<br><br>
<p class="tx3">Zone :</p>
<br><br>
<p class="tx4">Paris-01</p>
</div>

<style>
   .vl {
    top: 550px;
    left: 612px;
    width: 8px;
    height: 484px;
    position: absolute;
    background: #264A6E 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  } 
</style>
<div class="vl"></div>

<button mat-raised-button class="bouton">SUIVANT</button>



</body>