
<body>
<p>
  <mat-toolbar class ="menu">
      <img src="../assets/Logo-Standard-en-ligne_bleu.png">
      <span class="example-spacer"></span>
      <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar>
</p> 

<h1 class="titre">Informations du forfait</h1>

<div fxFlexFill fxLayout="column">
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <div fxLayoutAlign="center center" style="padding: 16px;">
    {{ status$ | async }}
  </div>
</div>
<app-main></app-main>


</body>
  






